

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  text-decoration: none;
  list-style: none;
}

html, body {
  height:100%;
}

body {
  font-size: 15px;
  color: black;
  background-color: lightblue
}

.padding {
  padding: 20px;
}

/* Set the spacing between the links */

.navbar {
  padding: 20px;
  display: block;
  text-decoration: none; 
}

/* Set the spacing between the links */
.navbar ul {
  padding-right: 20px;
  margin-right: 20px;
  font-size:  20px;
}

/* Change the color of links on hover*/
a:hover  { 
  background:blue;
  color:black;
  transition: .10s;
} 

/* Body Section */
.contact {
  background-color: lightgreen;
  min-height: 100%;
  overflow: auto;
  padding-bottom: 100px;
  width: 60%;
  margin-top: 20px;
  margin-left: 30px;
  border-style: inset; 
}

/* Setting for the horizantal rule */
hr {
    border-top: 1px solid;
   margin-top: 20px;
   margin-bottom: 20px;
}

form {
  padding:10px;
}
/* Sets the style to the text boxes */
input[type=text] {
  width: 100%; 
  height: 40px;
  padding: 12px 20px;
  margin: 8px 0px;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid grey;  
}

 /* Allows the user to know which box is beign entered */
input[type=text]:focus{
  background-color: lightblue;  
}  

/* Text area */
textarea {
  width: 100%;   
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid grey;
  border-radius: 4px;  
  resize: vertical;
}

/* Footer */
footer {
  background-color: darkgray;
  position: relative;
  width:60%;
  height: 60px;    
  margin-left: 30px;
  padding-bottom: 80px;
  font-size: 20px;
  text-align: center;
  clear: both;
}